table {
    border: 1px solid black;
}
td.snakeBody {
    background-color: green;
    border-radius: 10px;
}
td.snakeHead {
    background-color: red;
    border-radius: 10px;
}
td.fruit {
    background-color: red;
    border-radius: 10px;
}
td {
    width:10px;
    height:10px;
}
#score {
    text-align: center;
    font-size:15px;
}
table {
    margin:auto;
}

#gameover {
    position: relative;
    text-align: center;
    background-color: black;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    width: 50px;
    display:none;
    margin: auto;
    top: 200px;
    
}